<div class="wrapper">

  <div class="page-header center-text">
    <h1>New Restaurant</h1>
  </div>

  <%= render 'form', restaurant: @restaurant %>
  <h6><%= link_to "Go back to restaurants", restaurants_path %></h6>

</div>
