// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";


body {
padding: 50px
}

.wrapper {
    height: 500px;
    width: 900px;
    box-shadow: 0px 1px 30px rgba(0,0,0,0.1);
    padding: 15px;
    border-radius: 10px;
    align-content: center;
}

.btn {
    margin-top: 0px;
    margin-bottom: 20px;
    border-radius: 3px;
}
