<div class="wrapper">

  <div class="page-header center-text">
    <h1>New Review</h1>
  </div>
  
  <%= render 'form', review: @review %>
  <h5><%= link_to "Go back to restaurants", restaurants_path %></h5>

</div>